/* copy button */
.doc .listingblock > .content {
    position: relative;
}

.doc .listingblock > .content > button.bd-copy {
    position: absolute;
    z-index: 1;
    right: 0.25em;
}

button.bd-copy {
    border-radius: 2px;
    font-size: .75rem;
    background: transparent;
    color: #212121;
    cursor: pointer;
    outline: 0;
    position: absolute;
    right: .25rem;
    top: .25rem;
    border: 1px none;
    padding: 0 .75em;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    box-shadow: none;
    display: inline-flex;
    height: 2.25em;
    line-height: 1.5;
    vertical-align: top;
}

button.bd-copy > svg {
    height: 1rem;
    margin-right: .25rem;
}

.doc .listingblock:hover code[data-lang]:before {
    display: none;
}

.doc pre:not(.highlight) {
    padding-right: 5em;
}

/* tooltips */
.tooltipped {
    position: relative
}

.tooltipped::after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: .5em .75em;
    font: normal normal 11px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: subpixel-antialiased;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: #0a0a0a;
    border-radius: 3px;
    opacity: 0
}

.tooltipped::before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: #0a0a0a;
    pointer-events: none;
    content: "";
    border: 6px solid transparent;
    opacity: 0
}

@-webkit-keyframes tooltip-appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes tooltip-appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.tooltipped:active::after, .tooltipped:active::before, .tooltipped:focus::after, .tooltipped:focus::before, .tooltipped:hover::after, .tooltipped:hover::before {
    display: inline-block;
    text-decoration: none;
    -webkit-animation-name: tooltip-appear;
    animation-name: tooltip-appear;
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.tooltipped-no-delay:active::after, .tooltipped-no-delay:active::before, .tooltipped-no-delay:focus::after, .tooltipped-no-delay:focus::before, .tooltipped-no-delay:hover::after, .tooltipped-no-delay:hover::before {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}


.tooltipped-s::after {
    top: 100%;
    right: 50%;
    margin-top: 6px
}

.tooltipped-s::before {
    top: auto;
    right: 50%;
    bottom: -7px;
    margin-right: -6px;
    border-bottom-color: #0a0a0a
}

.tooltipped-s::after {
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}